<template>
  <b-carousel
    :interval="4000"
    controls
    indicators
    background="#ababab"
    style="text-shadow: 1px 1px 2px #333;"
  >
    <b-carousel-slide
      v-for="photo in photos"
      :key="photo.id"
      :text="photo.title"
      :img-src="photo.url"
    ></b-carousel-slide>
  </b-carousel>
</template>

<script>
export default {
  data() {
    return {
      photos: []
    };
  },
  mounted() {
    fetch("https://jsonplaceholder.typicode.com/photos")
      .then(res => res.json())
      .then(photos => {
        this.photos = photos.slice(0, 15);
      });
  }
};
</script>

<style>
.carousel {
  margin-bottom: 4rem;
}
</style>
