<template>
  <b-form-group label="Phone Number" label-for="phone">
    <b-form-input
      id="phone"
      type="number"
      :state="validator.$dirty ? !validator.$error : null"
      v-model.trim="number"
      @input="emit"
      ref="phone"
      class="dsa"
    ></b-form-input>
    <b-form-invalid-feedback
      v-if="validator.$dirty && !validator.minLength"
    >Please Enter Your Phone Number</b-form-invalid-feedback>
  </b-form-group>
</template>

<script>
export default {
  props: ["state"],
  data() {
    return {
      number: "",
      countryCode: ""
    };
  },
  computed: {
    validator() {
      return this.$parent.$v.form.phone;
    }
  },
  methods: {
    lookUpGeo(success, failure) {
      let headers = {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      };
      return fetch("https://ipinfo.io?token=c25eced88276e1", headers)
        .then(res => res.json())
        .then(userGeo => {
          var countryCode = userGeo && userGeo.country ? userGeo.country : "";
          success(countryCode);
        });
    },
    emit() {
      this.$emit("input", `+${this.countryCode}${this.number}`);
    },
    intlInit() {
      import("intl-tel-input").then(intlTelInput => {
        let input = this.$refs.phone.$refs.input;

        let intlInput = intlTelInput.default(input, {
          initialCountry: "auto",
          separateDialCode: true,
          geoIpLookup: this.lookUpGeo
        });

        input.addEventListener("countrychange", () => {
          this.countryCode = intlInput.getSelectedCountryData().dialCode;

          this.emit();
        });
      });
    }
  },
  mounted() {
    if (process.client) {
      this.intlInit();
    }
  }
};
</script>

<style>
.intl-tel-input {
  width: 100%;
}
.intl-tel-input ~ .invalid-feedback {
  display: block;
}
</style>
