<template>
  <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand>
      <nuxt-link to="/">Home</nuxt-link>
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav>
        <b-nav-item>
          <nuxt-link to="/login">Login</nuxt-link>
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {};
</script>

<style>
</style>
