<template>
  <div>
    <Navbar/>

    <nuxt/>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
export default {
  components: {
    Navbar
  }
};
</script>


<style>
body {
  padding-bottom: 40px;
  background-color: #e9ecef;
}
</style>
