<template>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <Carousel/>
    </div>
  </div>
</template>

<script>
import Carousel from "@/components/Carousel";
export default {
  components: {
    Carousel
  }
};
</script>