<template>
  <div class="jumbotron">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Login
            <br>number : 01099758439
            password : 12334567
          </h5>

          <b-alert variant="success" dismissible :show="loggedIn">Logged In !</b-alert>
          <b-alert variant="danger" dismissible :show="invalidCreds">Wrong Phone Number OR Password</b-alert>

          <intlInput v-model="$v.form.phone.$model"/>

          <b-form-group label="Password" label-for="password-input">
            <b-form-input
              id="password-input"
              v-model="$v.form.password.$model"
              :state="$v.form.password.$dirty ? !$v.form.password.$error : null"
              aria-describedby="input-1-live-feedback"
              placeholder="Enter Your Password"
            ></b-form-input>

            <b-form-invalid-feedback
              v-if="!$v.form.password.minLength"
            >Password must be at least 6 characters.</b-form-invalid-feedback>
            <b-form-invalid-feedback v-if="!$v.form.password.required">Please Enter Password</b-form-invalid-feedback>
          </b-form-group>

          <b-button
            type="submit"
            variant="primary"
            :disabled="loading || $v.$invalid"
            @click="login"
          >
            <b-spinner small v-if="loading"></b-spinner>
            <span>Login</span>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import intlInput from "@/components/intlInput";
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],

  data() {
    return {
      loading: false,
      invalidCreds: false,
      loggedIn: false,
      form: {
        phone: null,
        password: null
      }
    };
  },
  methods: {
    login() {
      this.$v.$touch();

      if (this.$v.$error) return;

      this.loading = true;
      this.invalidCreds = false;

      setTimeout(() => {
        if (this.checkCreds()) {
          this.loggedIn = true;
        } else {
          this.invalidCreds = true;
        }
        this.loading = false;
      }, 1500);
    },
    checkCreds() {
      return (
        this.form.phone == "+01099758439" && this.form.password == "1234567"
      );
    }
  },
  validations: {
    form: {
      phone: {
        minLength: minLength(10)
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  components: {
    intlInput
  }
};
</script>

<style scoped>
.card {
  margin: auto;
  width: 50%;
}
</style>
